body{
  background-color: black;
  font-family: Arial, Helvetica, sans-serif;
  margin-top: 20px;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  
}
.calculation{
  position: absolute;
  top: 20px;
  color: white;
  font-size: 45px;
  margin-top: 15px;
  margin-bottom: 5px;
}

.calculator-button{
  width: 60px;
  height: 60px;
  border-radius: 60px;
  border: none;
  font-size: 26px;
  cursor: pointer;
  margin-right: 5px;
}

.gray-button{
  background-color: rgb(51, 51, 51);
  color: white;
}
.orange-button{
  background-color: rgb(254, 160, 10);
  color: white;
}
.clear-button{
  font-size: 17px;
}

.qazi{
  width: 250px;
  opacity: 0;
  position: absolute;
  z-index: -1;
  top: 70px;
  background-repeat: no-repeat;
}
.qaziShow{
  opacity: 1;
  animation: fadeInOut 91s forwards; 
}

@keyframes fadeInOut {
  0% {
    opacity: 0;
  }
  10% {
    opacity: 1;
  }
 
  95% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

#header {
  opacity: 1;
  transition: opacity 1s ease-in-out;
}
#header.hidden {
  opacity: 0;
}

.temp-text {
  opacity: 1;
  transition: opacity 1s ease-in-out;
  
  color: white;
  font-size: 20px;
  position: absolute;
  top: 450px;
  text-align: center;
  left: 50%;
  transform: translateX(-50%);
}
.temp-text {
  opacity: 0;
  transition: opacity 1s ease-in-out; 
  font-family: "IBM Plex Sans Arabic", sans-serif; 
  font-weight: 400;
}
.temp-text.visible {
  opacity: 1;
}
.temp-text.hidden {
  opacity: 0;
}